@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.wraps{
  background-image: linear-gradient(to right, #37d689 0%, #37d689 40%, white 40%, white 100%);
}
@media (max-width: 768px) {
  /* Add your styles here */
  

  .wraps {
    background-image: linear-gradient(to bottom, #37d689 0%, #37d689 30%, white 30%, white 100%);
  }
}
/* @media only screen and (min-width: 768px){
  .parent:hover .child {
      opacity:1;
      height:auto;
      overflow:none;
      transform: translateY(0);
  } 
   .child {
      opacity:0;
      height:0; 
      overflow:hidden;
      transform: translateY(-10%);
  } 
} */