@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Fraunces:opsz,wght@9..144,700&family=Nanum+Gothic+Coding&family=Poppins:wght@300;500&family=Rubik+Scribble&display=swap');



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body{
  /* background-image: linear-gradient(to right, #5cd49a 0%, #37d689 40%, white 40%, white 100%); */
  background-image: url('../public/img/background.jpg');
  background-size: cover;
  font-family: 'Fira Code', monospace;
}

/* @media only screen and (min-width: 768px){
  .parent:hover .child {
      opacity:1;
      height:auto;
      overflow:none;
      transform: translateY(0);
  } 
   .child {
      opacity:0;
      height:0; 
      overflow:hidden;
      transform: translateY(-10%);
  } 
} */